@model List<Chatty.Models.Room>

<div>
    @if (Model.Count == 0)
    {
        <h4>You don't belong to any room. Connect to the existing one, or create a new one.</h4>
    }
    else
    {
        <h4>My rooms</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td>@room.Name</td>
                        <td>@room.Created.ToShortDateString()</td>
                        <td>
                            <a class="btn btn-primary m-2 text-white"
                               asp-controller="Room"
                               asp-action="Individual"
                               asp-route-id="@room.Id">
                                Join room
                            </a>
                            <a class="btn btn-danger m-2 text-white" 
                               onclick="leaveRoom(@room.Id)">Leave room</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts {
    <script>
        async function leaveRoom(id) {
            const response = await fetch(`/Room/Leave/${id}`, {
                method: "DELETE",
            });
            const res = await response.json();
            alert(JSON.stringify(res));
            window.location.reload();
        }
        
    </script>
}